## Quiz #0101

#### Provide the answers in Python code:

1).  In the class A, students' heights are:

161.5 <br>
165.9 <br>
168.7 <br>
163.1 <br>
170.8 <br>
167.2 <br>

Calculate the mean height by using Python 'list' and 'for' loop:

In [ ]:
A = [161.5, 165.9, 168.7, 163.1 ,170.8 ,167.2]
sum1 = 0

for i in range(len(A)) :
  sum1 += A[i]

mean_1 = sum1 / len(A)
print(mean_1)

166.20000000000002

2).  In the class B, students' heights are:

172.5 <br>
162.9 <br>
161.7 <br>
160.1 <br>
161.8 <br>
169.2 <br>

Calculate the mean height by using Python 'list' and 'for' loop:

In [ ]:
B = [172.5, 162.9, 161.7, 160.1 ,161.8 ,169.2]
sum2 = 0

for i in range(len(B)) :
  sum2 += B[i]

mean_2 = sum2 / len(B)
print(mean_2)

164.70000000000002

3). The class A and the class B are joined together to form the class AB. Calculate the mean height by using Python 'list' and 'for' loop:

In [ ]:
AB = A + B
summ = 0

for i in range(len(AB)) :
  summ += AB[i]

mean_tot = summ / len(AB)
print(mean_tot)

165.45000000000002

4). Sort the heights of the class AB.

In [ ]:
AB.sort()
print(AB)

[160.1, 161.5, 161.7, 161.8, 162.9, 163.1, 165.9, 167.2, 168.7, 169.2, 170.8, 172.5]

5). The class C is formed with students with the height less than 165. Make a list 'C' containing the heights of the class C.

In [ ]:
C = list(filter(lambda c : c<165 , AB))
print(C)

[160.1, 161.5, 161.7, 161.8, 162.9, 163.1]

6). The class D is formed with students with the height larger than 160 and less than 170. Make a list containing the heights of the class D.

In [ ]:
D = list(filter(lambda d : d>160 and d<170 , AB))
print(D)

[160.1, 161.5, 161.7, 161.8, 162.9, 163.1, 165.9, 167.2, 168.7, 169.2]